
:root {
  --color-bg:#1f1f38;
  --color-bg-variant:#2c2c6c;
  --color-primary:#4db5ff;
  --color-primary-variant:rgba(77, 181, 255, 0.4);
  --color-white:#fff;
  --color-light:rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}


body {
  background: #1f1f38;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  display: flex;
  align-items: center;
  gap: 42.667px;
  text-decoration: none;
  padding: 15px 85.333px;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
}
nav a {
  text-decoration: none; /* Remove underline */
  margin-right: 15px; /* Adjust spacing between links */
  padding: 0.5rem;
  color: #fff;
}
nav a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: all 0.4s ease;
}

nav a:hover::after {
  width: 100%;
  background: #4db5ff;
}

.dataa {
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}

.pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #4db5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 42.667px;
  text-decoration: none;
  align-items: ;
}
.nav-icon {
  display: none;
  color: #fff;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
h2 {
  color: #4db5ff;
}
.aboutdes {
  background: rgba(77, 181, 255, 0.4);;
  color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto;
  width: 40%;
  padding: 40px 30.333px 40.333px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.abt {
  color: #fff;
}
.resum {
  background: rgba(77, 181, 255, 0.4);
  color: hsl(0, 0%, 100%);
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.resum:hover {
  transform: scale(1.1); /* Enlarge on hover */
}

.skill {
  display: grid;
  grid-auto-flow: column;
  width: 90%;
  padding: 14px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  justify-content: space-evenly;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: grid;
  grid-auto-flow: row;
  width: 30%;
  margin: 0 auto;
  padding: 20px;
}
input {
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
textarea {
  margin-bottom: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
  background-color: rgba(77, 181, 255, 0.4);
  color: #fff;
  font-weight: 700;
  font: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
}
input[type="submit"]:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
.insta {
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.insta:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
.mail {
  color: #fff;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}
.mail:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
a {
  padding: 6px;
  text-align: center;
}
.linkss {
  margin-bottom: 2em;
  text-align: center;
}

.hom {
  padding: 40px 30.333px 40.333px;
}

.skills {
  padding: 40.333px 30.333px 40.333px;
}


@media only screen and (max-width : 768px) {
  .dataa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
   
    top: 20px;
    left: -110%;
    opacity: 1;
    transition: all 0.4 ease;

    &.active {
      background: #fff;
      opacity: 1;
      left: 0px;
      top: 40px;
    }
    li {
      color: #fff;
    }
  }

  .nav-icon {
    display: block;
  }
}